{% extends "base.html" %} 

{% block page_title %}
Home
{% endblock page_title %} 

{% block content %}

<h1>Hi welcome all , today date is: {{now}}</h1>
<h1>User:{{user.username}}</h1>
<h2>Rooms</h2>
{% for room in rooms %}
<h2>
  {{forloop.counter}})<a href="{% url 'rooms:detail' room.pk %}" >{{room.name}}</a>
</h2>
{% endfor %} 

{% if page_obj.has_previous %}
<a href="?page={{page_obj.number|add:-1}}">Previous</a>
{% endif %} 
Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 
{% if page_obj.has_next %}
<a href="?page={{page_obj.number|add:1}}">Next</a>

{% endif %} 

{% endblock content %}
